body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

.container {
  display: flex;
  height: 100vh;
}
/* Left */

.left-side {
  background-color: rgb(200, 220, 232);
  flex: 0 0 350px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 5px solid rgb(181, 209, 226);
}

.left-side.dark-mode {
  background-color: #252525;
  color: #f5f5f5;
  border-right: none;
}

.profile-container {
  text-align: center;
}

.profile-name {
  text-align: center;
}

.profile-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.profile-dots {
  margin-top: 5px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.name {
  margin: 2px 0;
  font-size: 20px;
  font-weight: bold;
}

.profession {
  margin-bottom: 6px;
  font-size: 16px;
}

.skills {
  text-align: center;
}

.skills h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.skills-container {
  color: #3e3838;
  width: 100%;
}
.skills-container.dark-mode {
  color: #bcb2b2;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  padding-bottom: 1px;
  margin: 0 4px;
  font-size: 14px;
}

.contact-container {
  width: 100%;
}

.contact-container.dark-mode {
  #insta {
    fill: #aaa7a7;
  }
  #link {
    fill: #aaa7a7;
  }
  #mail {
    fill: #aaa7a7;
  }
  #git {
    fill: #aaa7a7;
  }
}

.contact-item {
  color: #3e3838;
  margin: 10px;
}
a {
  text-decoration: none;
}
.contact-span:hover #insta {
  fill: rgb(223, 44, 44);
}

.contact-span:hover #link {
  fill: rgb(37, 144, 245);
}

.contact-span:hover #mail {
  fill: rgb(54, 156, 65);
}

.contact-span:hover #git {
  fill: rgb(16, 8, 173);
}

.blog {
  text-align: center;
  transition: 0.5s ease;
}

.blog:hover {
  transform: scale(1.2);
}

.blog h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #560f3a;
}

.blog h3.dark-mode {
  color: #ad90a2;
}

/* Right side */
.right-side {
  background-color: rgb(227, 227, 219);
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side.dark-mode {
  background-color: #171616;
}

.right-grid {
  background-color: whitesmoke;
  width: 750px; /* Set a fixed width for the right side grid */
  /* height: 600px; */ /* Set a fixed height for the right side grid */
  display: grid;
  padding: 20px;
  border: 1px solid rgb(189, 189, 189);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center; /* Align the grid items horizontally to the center */
  align-content: center; /* Align the grid items vertically to the center */
}

.right-grid.dark-mode {
  border: #333;
  background-color: #2f2b2b;
}

.project-tile {
  position: relative;
  width: 100%; /* Set a fixed width for the tiles */
  height: 100%; /* Set a fixed height for the tiles */
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.project-image {
  width: 100%;
  height: 100%; /* Adjust the height of the image area as desired */
  object-fit: cover; /* Maintain aspect ratio and fill the image area */
}

.project-overlay {
  position: absolute;
}

.project-overlay.dark-mode {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(62, 62, 62, 0.292);
  z-index: 1;
}

.project-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(121, 121, 121, 0.278);
  box-sizing: border-box;
  z-index: 2;
}

.project-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.project-title.dark-mode {
  color: rgb(255, 255, 255);
}

.project-tile:hover .project-info {
  display: block;
}

.project-info {
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 8px;
  right: 8px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.project-info span {
  color: #030000;
  font-weight: bold;
}

.project-info span:hover {
  color: #991464;
}

.project-tile:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(71, 110, 81, 0.725);
}

.bold-text {
  font-weight: bold;
}

.hidden-text {
  text-decoration: line-through;
}

/* popup content */
.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999;
  display: none;
}

.popupContent {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 650px;
  height: 484px;
  margin: 100px auto;
  overflow: auto; /* Add scrolling when content exceeds the height */
}

.popup-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.closeButton {
  position: fixed;
  top: 10px;
  right: 10px;
}
.column-hide {
  display: block;
}

.column-hide.dark-mode {
  color: whitesmoke;
}

.row-hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: fit-content;
  }
  .left-side {
    padding-top: 20px;
  }

  .skills-col {
    background-color: aquamarine;
  }

  .right-side {
    flex-direction: row;
  }

  .right-grid {
    display: flex;
    flex-direction: column;
  }
  .column-hide {
    display: none;
  }

  .row-hide {
    display: block;
  }
  .row-hide.dark-mode {
    color: whitesmoke;
  }

  .popupContent {
    width: auto;
    height: auto;
  }
}
